* {
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div {
    width: 95%;
    justify-content: space-around;
    display: flex;
}

 .startTrivia {
    width: 80%;
    align-items: center;
    background-color: #B67650;
    color: #F8C98C;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.startTrivia:hover {
    background-color: #F8C98C;
    color: black;
}

.quiz-contents {
    width: 80%;
    margin: 2%;
    background-color: #F8C98C;
    color: black;
    padding: 20px;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    border:3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.read-question {
    width: 70%;
    text-align: center;
    color: black;
}

.btn {
    width: 78%;
    background-color: #B67650;
    color: gold;
    padding: 13px 18px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid black;
    margin: 2%;
}
.btn:hover {
    width: 78%;
    background-color: gold;
    color: #B67650;
}

#counter {
    font-size: 35px;
    text-align: center;
}

