* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.div {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

 .startTrivia {
    width: 80%;
    align-items: center;
    background-color: #B67650;
    color: #F8C98C;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.startTrivia:hover {
    background-color: #F8C98C;
    color: black;
}

.quiz-contents {
    width: 100%;
    margin: 5%;
    background-color: #F8C98C;
    color: black;
    padding: 20px 20px;
    display: inline-block;
    font-size: 10px;
    border:3px solid black;
}

.read-question {
    width: 70%;
    text-align: center;
    color: black;
}

.btn {
    width: 78%;
    background-color: #B67650;
    color: gold;
    padding: 13px 18px;
    display: inline-block;
    font-size: 10px;
    border: 1px solid black;
}
.btn:hover {
    width: 78%;
    background-color: gold;
    color: #B67650;
}

